<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/ability-scores.css">
</head>
<body>
<%- include('../partials/nav.ejs') %> 
<main>
<h1>Ability Scores</h1>
<div id="scores">
    <div class="score-container">
        <div class="dropdown">
            <div class="dropdown-header">
                Strength
            </div>
            <select name="strength" id="strength">
                <option value>--</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="stat-total">
            Total: 
        </div>
    </div>
    <div class="score-container">
        <div class="dropdown"><div class="dropdown-header">
            Dexterity
        </div>
            <select name="dexterity" id="dexterity">
                <option value>--</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="stat-total">
            Total: 
        </div>
    </div>
    <div class="score-container">
        <div class="dropdown">
            <div class="dropdown-header">
                Constitution
            </div>
            <select name="constitution" id="constitution">
                <option value>--</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="stat-total">
            Total: 
        </div>
    </div>
    <div class="score-container">
        <div class="dropdown">
            <div class="dropdown-header">
                Intelligence
            </div>
            <select name="intelligence" id="intelligence">
                <option value>--</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="stat-total">
            Total: 
        </div>
    </div>
    <div class="score-container">
        <div class="dropdown">
            <div class="dropdown-header">
                Wisdom
            </div>
            <select name="wisdom" id="wisdom">
                <option value>--</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="stat-total">
            Total: 
        </div>
    </div>
    <div class="score-container">
        <div class="dropdown">
            <div class="dropdown-header">
                Charisma
            </div>
            <select name="charisma" id="charisma">
                <option value>--</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="stat-total">
            Total: 
        </div>
    </div>
</div>
</main>
</body>
</html>