<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
    <div class="pageTitle">
        <h1>Background</h1>
    </div>  
    <ul>
        
            <button type="button" class="collapsible">Acolyte<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <form action="/creation/<%=id%>/background?_method=PUT" method="POST">
                <p><strong>Skill Proficiencies:</strong> Insight, Religion</p>
                <input type="hidden" name="skills" value="Insight">
                <input type="hidden" name="skills" value="Religion">
                <p><strong>Languages:</strong>Two of your choice</p>
                <input type="text" name="languages">
                <input type="text" name="languages">
                <p><strong>Equipment:</strong> A holy symbol, prayer book, 5 sticks of incense, vestments, set of common clothes and a pouch containing 15 gp.</p>
                <input type="hidden" name="equipment" value="A holy symbol, prayer book, 5 sticks of incense, vestments, set of common clothes and a pouch containing 15 gp.">
                <input type="hidden" name="background" value="Acolyte">
                <input type="submit" value="Choose Background">
                </form>
            </div>

            <button type="button" class="collapsible">Criminal<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Folk Hero<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Soldier<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Noble<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>
    </ul>
    <%- include('../partials/collapsible.ejs') %> 
</main>
</body>
</html>