<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
    <div class="pageTitle">
        <h1>Race</h1>
    </div>  
    <ul>
        
            <button type="button" class="collapsible">Fighter<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
                <form action="/creation/<%=id%>/class?_method=PUT" method="POST">
                    <input type="hidden" name="class" value="Fighter">
                    <input type="submit" value="Choose Class">
                </form>
            </div>

            <button type="button" class="collapsible">Cleric<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Wizard<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Ranger<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Rogue<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>
    </ul>
    <%- include('../partials/collapsible.ejs') %> 
</main>
</body>
</html>