<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/class.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
    <div class="pageTitle">
        <h1>Class</h1>
    </div>  
    <ul>
        
            <button type="button" class="collapsible">Fighter<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Fighters share an unparalleled mastery with weapons and armor, and a thorough knowledge of the skills of combat. They are well acquainted with death, both meting it out and staring it defiantly in the face.</p>
                <a href="/creation/class/fighter/<%= id%> ">
                    <button>Choose Class</button></a>
                </form>
            </div>

            <button type="button" class="collapsible">Cleric<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Wizard<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Ranger<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Rogue<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>
    </ul>
    <%- include('../partials/collapsible.ejs') %> 
</main>
</body>
</html>