<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
    <div class="pageTitle">
        <h1>Race</h1>
    </div>  
    <ul>
            <button type="button" class="collapsible">Human<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>Your base walking speed is 30 feet.</p>
                    <input type="hidden" name="speed" value="30">
                </div>
                <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>You speak and write Common and one extra language of your choice.</p>
                    <input type="text" name="languages">
                    <input type="hidden" name="languages" value="Common">
                </div>
                <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>Your ability scores each increase by 1</p>
                </div>
                <a href="/creation/race/human">
                    <button>For more Information</button>
                </a>
            </div>

            <button type="button" class="collapsible">Dwarf<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                    <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your base walking speed is 25 feet. Your speed is not reduced by wearing heavy armor</p>
                    </div>
                    <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You speak and write Common and Dwarvish.</p>
                    </div>
                    <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your constituiton score increase by 2 and your Strenght score increases by 2</p>
                    </div>
                    <a href="/creation/race/dwarf">
                        <button>For more Information</button>
                    </a>
            </div>

            <button type="button" class="collapsible">Dragonborn<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                 <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                        <p>Your base walking speed is 30 feet.</p>
                </div>
                <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>You speak and write Common and Draconic.</p>
                    </div>
                    <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your Strength score increase by 2, and your Charisma score increases by 1.</p>
                    </div>
                    <a href="/creation/race/dragonborn">
                        <button>For more Information</button>
                    </a>
            </div>

            <button type="button" class="collapsible">Elf<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                    <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your base walking speed is 30 feet.</p>
                    </div>
                    <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You speak and write Common and Elvish.</p>
                    </div>
                    <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your Dexterity score increase by 2 and your Wisdom score increase by 1.</p>
                    </div>
                    <a href="/creation/race/elf">
                        <button>For more Information</button>
                    </a>
                </form>
            </div>

            <button type="button" class="collapsible">Tiefling<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                        <p>Your base walking speed is 30 feet.</p>
                </div>
                <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>You speak and write Common and Infernal.</p>
                </div>
                <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>Your Charisma scores increases by 2 and your intelligence score increases by 1</p>
                </div>
                <a href="/creation/race/tiefling">
                    <button>For more Information</button>
                </a>
            </div>
    </ul>
    <%- include('../partials/collapsible.ejs') %> 
</main>
</body>
</html>