<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
    <div class="pageTitle">
        <h1>Race</h1>
    </div>  
    <ul>
        <button type="button" class="collapsible">Human<i class="fa-solid fa-angle-down"></i></button>
        <div class="content">
                <p>In the reckonings of most worlds, humans are the youngest of the common races, late to arrive on the world scene and short-lived in comparison to dwarves, elves, and dragons. Perhaps it is because of their shorter lives that they strive to achieve as much as they can in the years they are given. Or maybe they feel they have something to prove to the elder races, and that's why they build their mighty empires on the foundation of conquest and trade. Whatever drives them, humans are the innovators, the achievers, and the pioneers of the worlds.
                </p>
                <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>Your ability scores each increase by 1</p>
                </div>
                <a href="/creation/race/human">
                    <button>For more Information</button>
                </a>
         </div>

        <button type="button" class="collapsible">Dwarf<i class="fa-solid fa-angle-down"></i></button>
        <div class="content">
                    <p>Kingdoms rich in ancient grandeur, halls carved into the roots of mountains, the echoing of picks and hammers in deep mines and blazing forges, a commitment to clan and tradition, and a burning hatred of goblins and orcs - these common threads unite all dwarves.</p>
                    <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your constituiton score increase by 2 and your Strenght score increases by 2</p>
                    </div>
                    <a href="/creation/race/dwarf">
                        <button>For more Information</button>
                    </a>
        </div>

        <button type="button" class="collapsible">Dragonborn<i class="fa-solid fa-angle-down"></i></button>
        <div class="content">
            <p>The dragonborn walk proudly through a world that greets them with fearful incomprehension. Shaped by the dragons themselves, dragonborn originally hatched from dragon eggs as a unique race, combining the best attributes of dragons and humanoids.</p>
            <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Your Strength score increase by 2, and your Charisma score increases by 1.</p>
            </div>
            <a href="/creation/race/dragonborn">
                <button>For more Information</button>
            </a>
            </div>

            <button type="button" class="collapsible">Elf<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Elves are a magical people of otherworldly grace, living in places of ethereal beauty, in the midst of ancient forests or in silvery spires glittering with faerie light, where soft music drifts through the air and gentle fragrances waft on the breeze. Elves love nature and magic, art and artistry, music and poetry.</p>
                <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>Your Dexterity score increase by 2 and your Wisdom score increase by 1.</p>
                </div>
                <a href="/creation/race/elf">
                    <button>For more Information</button>
                </a>
            </div>

            <button type="button" class="collapsible">Tiefling<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>To be greeted with stares and whispers, to suffer violence and insult on the street, to see mistrust and fear in every eye: this is the lot of the tiefling. And to twist the knife, tieflings know that this is because a pact struck generations ago infused the essence of Asmodeus, overlord of the Nine Hells (and many of the other powerful devils serving under him) into their bloodline. Their appearance and their nature are not their fault but the result of an ancient sin, for which they and their children and their children's children will always be held accountable.</p>
                <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                <div class="content">
                    <p>Your Charisma scores increases by 2 and your intelligence score increases by 1</p>
                </div>
                <a href="/creation/race/tiefling">
                    <button>For more Information</button>
                </a>
            </div>
    </ul>
    <%- include('../partials/collapsible.ejs') %> 
</main>
</body>
</html>