<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
    <div class="pageTitle">
        <h1>Race</h1>
    </div>  
    <ul>
        
            <button type="button" class="collapsible">Human<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
                <form>
                    <input type="submit" value="Choose Race">
                </form>
            </div>

            <button type="button" class="collapsible">Dwarf<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Dragonborn<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Elf<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>

            <button type="button" class="collapsible">Tiefling<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum.</p>
            </div>
    </ul>
    <%- include('../partials/collapsible.ejs') %> 
</main>
</body>
</html>