<nav>
    <ul>
        <li>
            <a href = "/">
            <button>Start Page</button>
        </a>
    </li>
        <li><a href = "/creation/class">
            <button>Class</button>
        </a></li>
        <li><a href = "/creation/background"><button>Background</button></a></li>
    </ul>
</nav>