<%- include('./partials/header.ejs') %>
<link rel="stylesheet" href="../public/opening-page.css">
</head>
<body>
    <a href="/creation/race">
    <header>
        <h1>Welcome to the 5E Character Creator</h1>
        <h4>Click the here to proceed.</h4>
    </header>
    </a>
</body>
</html>