<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %> 
    <main>
        <ul>
            <button type="button" class="collapsible">Elf<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <form action="/creation/race" method="POST">
                    <p><strong>Name:</strong><input type="text" name="name"></p>
                    <button type="button" class="collapsible">Age<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Although elves reach physical maturity at about the same age as humans, the elven understanding of adulthood goes beyond physical growth to encompass worldly experience. An elf typically claims adulthood and an adult name around the age of 100 and can live to be 750 years old</p>
                        <input type="number" name="age" placeholder="Enter age">
                    </div>
                    <button type="button" class="collapsible">Size<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Elves range from under 5 to over 6 feet tall and have slender builds. Your size is Medium.</p>
                        <input type="hidden" name="size" value="Medium"/>
                    </div>
                    <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your base walking speed is 30 feet.</p>
                        <input type="hidden" name="speed" value="30">
                    </div>
                    <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You speak and write Common and Elvish.</p>
                        <input type="hidden" name="languages" value="Elvish">
                        <input type="hidden" name="languages" value="Common">
                    </div>
                    <button type="button" class="collapsible">Darkvision<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Accustomed to twilit forests and the night sky, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as it it were dim light. You can't discenr color in darknes, only shades of gray.</p>
                        <input type="hidden" name="darkVision" value="60 feet">
                    </div>
                    <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your Dexterity score increase by 2 and your Wisdom score increase by 1.</p>
                    </div>
                    <button type="button" class="collapsible">Fey Ancestry<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You have advantage on saving throws against being charmed, and magic can't put you to sleep.</p>
                        <input type="hidden" name="racialFeature" value="Fey Ancestry">
                    </div>
                    <button type="button" class="collapsible">Trance<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Elves do not sleep. Instead they meditate deeply, remaining semi-conscious, for 4 hours a day. While meditating, you dream after a fashion; such dreams are actually mental exercises that have become reflexive after years of practice. After resting this way, you gain teh same benefit a human would from 8 hours of sleep.</p>
                        <input type="hidden" name="racialFeature" value="Trance">
                    </div>
                    <button type="button" class="collapsible">Keen Senses<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You have proficiency in the Perception skill.</p>
                        <input type="hidden" name="skills" value="Perception">
                    </div>
                    <input type="submit" value="Choose Elf">
                </form>
    <%- include('../partials/collapsible.ejs') %>
</ul> 
</main>
</body>