<%- include('../partials/header.ejs') %> 
<link rel="stylesheet" href="../../public/race.css">
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <main>
        <ul>
            <button type="button" class="collapsible">Tiefling<i class="fa-solid fa-angle-down"></i></button>
            <div class="content">
                <form action="/creation/race" method="POST">
                    <button type="button" class="collapsible">Age<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Tieflings mature at the same rate as humans but live a few years longer.</p>
                        <input type="number" name="age" placeholder="Enter age">
                    </div>
                    <button type="button" class="collapsible">Size<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Tieflings are about the same size and build as humans.Your size is Medium</p>
                        <input type="hidden" name="size" value="Medium"/>
                    </div>
                    <button type="button" class="collapsible">Speed<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your base walking speed is 30 feet.</p>
                        <input type="hidden" name="speed" value="30">
                    </div>
                    <button type="button" class="collapsible">Languages<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You speak and write Common and Infernal.</p>
                        <input type="hidden" name="languages" value="Infernal">
                        <input type="hidden" name="languages" value="Common">
                    </div>
                    <button type="button" class="collapsible">Darkvision<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Thanks to your infernal heritage, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as it it were dim light. You can't discenr color in darknes, only shades of gray.</p>
                        <input type="hidden" name="darkVision" value="60 feet">
                    </div>
                    <button type="button" class="collapsible">Ability Score Increase<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>Your Charisma scores increases by 2 and your intelligence score increases by 1</p>
                    </div>
                    <button type="button" class="collapsible">Hellish Resistance<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You have resistance to fire damage.</p>
                        <input type="hidden" name="resistance" value="fire">
                    </div>
                    <button type="button" class="collapsible">Infernal Legacy<i class="fa-solid fa-angle-down"></i></button>
                    <div class="content">
                        <p>You know the Thaumaturgy cantrip. Once you reach 3rd level, you can cast Hellish Rebuke spell once as a 2nd level spell. Once you reach 5th level, you can also cast the Darkness spell once. You must finish a long rest to cast these spells again with this trait. Charisma is your spellcasting ability for these spells.</p>
                        <input type="hidden" name="cantrips" value="Thaumaturgy">
                    </div>

                    <input type="hidden" name="race" value="Tiefling">
                    <input type="submit" value="Choose Tiefling">
                </form>
    <%- include('../partials/collapsible.ejs') %>
</ul> 
</main>
</body>